.product-detail {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}



.product-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.old-price {
  text-decoration: line-through;
  color: gray;
}

.new-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff6600;
}

.in-stock {
  color: green;
}

.out-of-stock {
  color: red;
}
